* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.for_background_color {
    background-color: #1F2937;
}

a, li{
    text-decoration: none;
    list-style-type: none;
    color:  #F9FAF8;
    font-size: 18px;
    
}

 /* Header CSS  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #1F2937;
}

.header_text {
    font-size: 24px;
    color: #F9FAF8;
}

/* Nav Links CSS */
.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

/* Mid Section */
.mid__section {
    margin-top: 60px;
    
}
.mid_flex_container {
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;

}
.container_one {
    width: 400px;
    height: auto;
}
.container_two {
    width: 200px;
    height: 200px;
    border: 2px solid red;
}
.title_main_text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}
.title_secondary_text {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}
.mid_section_button {
    padding: 5px 30px;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    color: #F9FAF8;
}

/* Some random information */
.information_header {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
    color: #1F2937;
}

.box_flex_container {
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    margin-top: 40px;
    
}
.box {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 20px;
}

/* Quote Section  */
.quote_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
   
}

.quote {
    padding: 100px 400px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    background-color: #E5E7EB;
    
}
/* Action time  */

.container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.action_container {
    display: flex;
    background-color: #3882F6;
    padding: 30px 100px 30px 100px;
    border-radius: 20px;
    gap: 300px;
}

.call {
    color: #E5E7EB;
    font-size: 25px;
}   
.special {
    font-size: 15px;
    border: 2px solid white;
    background-color: #3882F6;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    color: #E5E7EB;
}
.bla {
    color: white;
}
footer {
    text-align: center;
    background-color: #1f2937;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}